
   @font-face {
    font-family: 'Merriweather';
    src: url("assets/fonts/Merriweather-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: 'Inter';
    src: url("assets/fonts/Inter-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: 'Inter';
    src: url("assets/fonts/");
    font-weight: 700;
  }

body{
    font-family: 'Merriweather', 'Inter';
    font-weight: 400,700;
  

}
h1{
  text-align: center;
}
p{
  text-align: center;
}

