
   @font-face {
    font-family: 'Merriweather';
    src: url("../assets/fonts/Merriweather-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: 'Inter';
    src: url("../assets/fonts/Inter-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: 'Inter';
    src: url("../assets/fonts/Inter-Bold.ttf");
    font-weight: 700;
  }

  html {
    scroll-behavior: smooth;
    box-sizing:border-box;
  } 
*, *::before, *::after{  
      box-sizing: inherit;
  }

body{
    font-family: 'Inter';
    font-size: 20px;
    letter-spacing: normal;
    background-color:#000000;
}
body h1, h2, h3, h4, h5, h6{
  font-family: 'Merriweather';
  font-weight: 700;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  background-color:#000000;
}

.container-header{
  background: url('../assets/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo{
  background-image: url("../assets/img/logo.svg");
  width: 50px;
  height: 50px;
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;  
  transition: 0.5s;
}

.logo:hover{
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.logo:active{
  filter: invert(26%) sepia(1%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.header__navigation{
  margin-left: auto;
}

.navigation{
  display: flex;
  list-style-type: none;
  padding-right: 15px;
}

.navigation__link{
  padding: 0 15px;
}

.navigation__link a{
  text-decoration: none;
  color: #ffffff;
}

.navigation__link a:hover{
  color:#bdae82;
  transition: 0.5s;
}

.navigation__link a:active{
  color:#bdbdbd;
}

.header button{
  border:none;
  background-color: #000000;
  padding: 0;
}

.header__language span{
  color:#ffffff;
  padding: 0 5px;
}

.header__language-btn_active{
  color:#bdae82;
}

.header__language-btn_active:hover{
  cursor: pointer;
  color:#ffffff;
  transition: .5s;
}
.header__language-btn_passive, .logo{
  color:#ffffff;
  cursor: pointer;
}
.header__language-btn_passive:hover{
  color:#bdae82;
  transition: .5s;
}
.header__language-btn_passive:active, 
.header__language-btn_active:active{
  color:#bdbdbd;
}
/* ***************
*****HERO*******
**************** */

.hero-container {
  
  height: 820px;
  background-image: url('../assets/img/header-bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
}

.hero h1{
  padding-bottom: ;: 0;
  margin-bottom: 0;
}

.hero{
  padding-top: 145px;
  padding-left: 60px;
  max-width: 550px;
  height: 330px ;
  color:#ffffff;
}

.hero h1{
  font-size: 60px;
}

.hero p{
  padding-top: 15px;
  max-width: 470px;
  height: 120px;
  line-height: 40px;
  margin-bottom: 41px;
  /* margin bottom put button in its own place:)) */
}

.main__button{
  border:none;
  width: 220px;
  height: 55px;
  background-color:#bdae82;
  color:#000000;
  font-family: inherit;
}

.main__button:hover{
  color:#ffffff;
  transition: 0.5s;
  cursor: pointer;

}
.main__button:active{
  color:#000000;
  transition: 1s;
}

.main__button_hidden{
  width: 220px;
  height: 55px;
  background-color: #000000;
  color: #bdae82;
  font-family: inherit;
  border:1px solid #bdae82; 
}

.main__button_hidden:hover{
  color:#ffffff;
  transition: 0.5s;
  cursor: pointer;
}

.main__button_hidden:active{
  color:#bdae82;
}


/* ****************************
******STYLES FOR H2 and line for it*
*************************** */


.section__title{
  text-align: center;
  font-size: 40px;
  margin-top: 0;
  position: absolute;
  padding: 0 20px;
  color:#bdae82;
  background-color:#000000;
}

.wrapper__h2{ 

  position: relative;
  display: flex;
  justify-content: center;
}

.wrapper__h2::before{
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  background-color: #bdae82;
  position: absolute;
  top: 1.1em;
}


/*  working version of line h2 before,after

/* .section__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Merriweather', serif;
  margin: 0 auto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #bdae82;
  width: 50%;
}

.section__title::before, .section__title::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background: #bdae82;
}
+ span in html,for it padding 0 20px background-color black

 */

/* old version of line h2 
 .wrapper{
  width: 50%;
  position: relative;
  margin: 0 auto;
}

.section__title{
  text-align: center;
  color: #bdae82;
  font-size: 40px;

}

.section__title::before{
  content:"";
  display: block;
height: 1px;
background-color: #BDAE82;
position: absolute;
top: 50%;
left: 1.5%;
width: 38%;
}

.section__title::after{
  content:"";
  display: block;
  height: 1px;
  background-color: #BDAE82;
  position: absolute;
  top: 50%;
  right: 1.5%;
  width: 38%;
} */ 

/* another variant with gradient(easier))
.section-title {
  background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
}*/

/* ****************88
******SKILSS*******
******************* */


.skills{
  margin: 0 auto;
  padding-top: 118px;
  height: 482px;
  max-width: 1440px;

}

.skills-items{
  padding: 122px 20px 0 20px;
  display: flex;
  justify-content: space-between;
  /* gap: 40px; */
  flex-wrap: wrap;
  color:#ffffff;
  

  
}
.skills-items__item {
  display: block;
  text-align: center;
  background-position: center top;
  background-repeat: no-repeat;
  max-width: 320px;
  height: 240px;
  padding-top: 83px;

}

.skills-items__item p{
  margin: 0 auto;
  padding-top: 2px;
  font-size: 18px;
  line-height: 36px;
  max-width: 280px;
  height: 72px;  
}

.skills-items__item h4{
  font-family:  Inter;
}

.skills-items__item:nth-child(1) {
  background-image: url('../assets/svg/camera.svg');
  background-size: 62px 50px;
}
.skills-items__item:nth-child(2) {
  background-image: url('../assets/svg/video.svg');
  background-size: 66px 50px;
}
.skills-items__item:nth-child(3) {
  background-image: url('../assets/svg/retouch.svg');
  background-size: 66px 50px;
}
.skills-items__item:nth-child(4) {
  background-image: url('../assets/svg/audio.svg');
  background-size: 32px 50px;
}

/* *******************
********PORTFOLIO********
************************** */

.portfolio{
  padding-top: 118px;
  max-width:1440px;
 

}

.portfolio__buttons{
  display: flex;
  justify-content: center;
  padding-top: 122px;
  gap: 5px;
}

.portfolio-images{
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  max-width: 1400px;
  
} 

.portfolio-images img{
  
}

/* *********************
*********VIDEO************
************************ */

.video{
  padding-top: 118px;
  height: 945px;
  max-width: 1440px;
}

.video__player{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/img/video-player__bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 705px;
  max-width: 1400px;
  margin-top: 122px;
}

.video__button{
   position: absolute;
   display: block;
   background-image: url(../assets/img/video__button.svg);
   background-color: transparent;
   height: 130px;
   width: 130px;
   border:none;
  }
  
  .video__button:hover{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
    transition: 0.5s;
    cursor: pointer;
    
  }
  .video__button:active{
    filter: invert(26%) sepia(1%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
    transition: 0.5s;
    cursor: pointer;
  }

  
/* ***********************
***********PRICE**********
*********************** */

.price {
  padding-top: 116px;
  max-width: 1400px;
  height: 845px;
}

.price__items {
  padding-top: 125px;
  display: flex;
  justify-content: space-between;

}

.price__item{
  border: 2px solid #bdae82;
  width: 450px;
  height: 505px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price__h3 {
  
  color: #ffffff;
  
  font-size: 28px;
  line-height: 56px;
  padding-top: 12px;
}

.price__h4 { 
  font-size: 25px;
  color: #bdae82;
  margin: 0;
  padding-bottom: 31px;
}
.price__item span{
  
  display: block;
  color: #ffffff;
  font-size: 18px;
  line-height: 36px;
 
}

.price__button{
 margin-top: 9%;
}


/* **************88
**********Contacts*****
*********************** */


.contacts {
  display: flex;
  justify-content: flex-end;
  background-image: url(../assets/img/contacts__bg.jpg);
  background-repeat:no-repeat;
  background-position:center center;
  max-width: 1440px;
  height: 700px;
  margin: 0 auto; 
}

.contacts__title{
  padding: 0;
  background-color: transparent;
  padding-top: 17px;
  
}

.contacts__content {
  padding-top: 60px;
  margin-right: 20px;
  width: 450px;
  height: 445px;
  
}

.contacts__content form{
  padding-top: 120px;
}

.contacts__content input{
  background-color:transparent;
  border: 2px solid #bdae82;
  background: rgba(0, 0, 0, 0.5);
  color:#bdae82;
  margin-bottom: 20px;
  padding-left: 18px;
  width: 450px;
  height: 50px;
  outline: none;
}

.contacts__content textarea{
  background-color:transparent;
  border: 2px solid #bdae82;
  color:#bdae82;
  background: rgba(0, 0, 0, 0.5);
  width: 450px;
  height: 100px;
  margin-bottom: 26px;
  outline: none;
  resize: none;
  padding-top: 12px;
  padding-left: 18px;
  outline: none;
  
}

.contacts input::placeholder, 
.contacts textarea::placeholder{

  color: #bdae82;
}

 input:focus,
 textarea:focus{
  background-color:#000000;
}

input:active,
textarea:active{
  border: 1px solid #ffffff ;
}

input:hover,
textarea:hover{
  border: 1px solid #ffffff ;
  transition: .5s;
}


/* **************
*******FOOTER******
********************** */


.footer__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  height: 150px;
}

.footer__content a{
  text-decoration: none;
  color:#ffffff;
  
}

.footer__content span{
  padding: 0 15px;
}

.footer__content a:hover{
  
  color: #bdae82;
  transition: .5s;
}
.footer__content a:active{
  
  color: #ffffff;
}

.footer__link-RS{
  padding-left: 16px;
}

.footer ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 188px;
  gap: 20px;
  padding: 0;
}

.footer__social-link img{
  width: 32px;
  height: 32px;
}

.footer__social-link img:hover{
   filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
      transition: .5s;
  }

  .footer__social-link img:active{
    filter: invert(26%) sepia(1%) saturate(638%) hue-rotate(7deg) brightness(92%)
       contrast(87%);
       transition: .5s;
   }


   /* ***************
   *******MEDIA*******8
   ******************** */

 
    @media (max-width: 1440px) {
      .portfolio-images {
        justify-content: center;
    }
  }

  @media (max-width: 1220px) {

    .skills{
      height: 700px;
    }
    .skills-items{
        padding: 122px 20px 0 20px;
        display: flex;
        justify-content: space-around;
        gap: 40px;
        flex-wrap: wrap;
        color: #ffffff;
        max-width: 949px;
        margin: 0 auto;
    }
  }



@media (max-width: 768px){

  *{
    margin: 0;
    padding: 0;
  }
  

  .container{
    padding: 0;
    max-width: 768px;
    
  }


  /* *****Header******* */

.header-content {
  padding: 0 60px;
}

.navigation{
  display: none;
}

  .container-header{
    
    background-position: -5px -30px;
    background-size: auto 620px;
  }

  .hero{
    padding-top: 56px;
  }

  .hero-container{
    height: 590px;
    background-position: -5px -120px;
    background-size: auto 620px;
  }

  .hero h1{
    font-size: 31px;
    line-height: 64px;
  }

  .hero p{
    padding-top: 21px;
    font-size: 20px;
    line-height: 24px;
    max-width: 390px;
    margin-bottom: 33px;
  }
  /* mar-bot put down button */
  

  /* *******section__title H2*** */

  .section__title{
    font-size: 32px;
  }

  .wrapper__h2::before{
    width: 47%;
    top: 0.81em;
  }

/* ******Skills**** */

  .skills{
    padding-top: 12px;
  }

  .skills-items {
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    padding: 102px 75px 0 69px;
      
   }
  .skills h4{
    padding-top: 7px;
  }

  .skills p{
    line-height: 22px;
    padding-top: 29px;
  }

  /* ******Portfolio***** */

  .portfolio {
    padding-top: 41px;
  }

  .portfolio__buttons {

    padding-top: 108px;
    max-width: 445px;
    flex-wrap: wrap;
    margin: 0 auto;

  }

  /* ****Video *****/

  .video {
    padding-top: 103px;
    max-height: 548px;
  }

.video__player{
    max-height: 418px;
    margin-top: 107px;
    background-image: url('../assets/img/video-player__bg_small.jpg');
}

.video__button{
  background-position: 0px 3px;
  background-size: auto 65px;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
}

/* ***PRICE***** */

  .price {
    padding-top: 182px;
    height: 1905px;
  
  }


   .price__items {
    padding-top: 108px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    
  } 

  .price__item {
    width: 420px;

  }
  .price__h3 {
    padding-top: 41px;
  }

  .price__h4 {
    padding-top: 31px;
}

/* *********CONTACTS *******/

 .contacts {

    margin-top: 78px;
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    max-width: 1440px;
    height: 700px;
    height: 600px;
    background-position: -236px 0px;
    background-size: auto 603px;
}

.contacts__title {
  padding: 31px 0 0 134px;
}

.contacts__content{
  margin: 0;
  padding-top: 45px;
  text-align: center;
}

/* ***FOOTER**** */

.footer__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 31px;
  max-height: 134px;
}

.footer__link-RS {
  padding: 17px 0 0 0;
}

.footer ul{
  padding-top: 29px;
}

}


@media (max-width: 740px){

  .container-header {
    background-position: -200px -30px;
    background-size: auto 620px;
}

  .hero-container {
    height: 590px;
    background-position: -200px -120px;
    background-size: auto 620px;
}

  .skills{
    min-height: 1100px;
  }

  .skills-items{
    justify-content: center;
  }
}


@media (max-width: 480px){

  .container{
    padding: 0;
    max-width: 480px;
  }

.contacts input{
  width:260px;
}

.contacts textarea{
  width: 260px;
}

.contacts__content{
  padding: 0;
  max-width: 320px;
}

.contacts__title {
  padding: 60px 0 0 40px;
}

.portfolio-images img {
  max-width: 260px;
}





  



  
























