
   @font-face {
    font-family: 'Merriweather';
    src: url("../assets/fonts/Merriweather-Bold.ttf");
    font-weight: 700;
  }
  @font-face {
    font-family: 'Inter';
    src: url("../assets/fonts/Inter-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: 'Inter';
    src: url("../assets/fonts/Inter-Bold.ttf");
    font-weight: 700;
  }

  html {
    scroll-behavior: smooth;
    box-sizing:border-box;
  } 
*, *::before, *::after{  
      box-sizing: inherit;
  }

body{
    font-family: 'Inter';
    font-size: 20px;
    letter-spacing: normal;
}
body h1, h2, h3, h4, h5, h6{
  font-family: 'Merriweather';
  font-weight: 700;
}



.container {
  
  width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  background-color:#000000;
}
.container-header{
 
  
  background: url('../assets/img/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: center 0;

}
.header{
 
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.logo{
  background-image: url("../assets/img/logo.svg");
  width: 50px;
  height: 50px;
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;  
  transition: 0.5s;
}

.logo:hover{
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

.header__navigation{
  margin-left: auto;
}
.navigation{
  display: flex;
  list-style-type: none;
  padding-right: 15px;
 
}

.navigation__link{
  padding: 0 15px;
   
}

.navigation__link a{
  text-decoration: none;
  color: #ffffff;
  
}

.navigation__link a:hover{
  color:#bdae82;
  transition: 0.5s;
}

.header button{
  border:none;
  background-color: #000000;
  padding: 0;

}

.header__language span{
  color:#ffffff;
  padding: 0 5px;
}

.header__language-btn_active{
  color:#bdae82;
}
.header__language-btn_passive, .logo{
  color:#ffffff;
  cursor: pointer;
}

/* ***************
*****HERO*******
**************** */

.hero-container {
  
  height: 820px;
  background-image: url('../assets/img/header-bg.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
}

.hero h1{
  padding-bottom: ;: 0;
  margin-bottom: 0;
}

.hero{
  padding-top: 145px;
  padding-left: 60px;
  width: 550px;
  height: 330px ;
  color:#ffffff;
}

.hero h1{
  font-size: 60px;
}

.hero p{
  padding-top: 15px;
  width: 470px;
  height: 120px;
  line-height: 40px;
  margin-bottom: 41px;
  /* margin bottom put button in its own place:)) */
}

.main__button{
  border:none;
  width: 220px;
  height: 55px;
  background-color:#bdae82;
  color:#000000;
  font-family: inherit;
}

.main__button:hover{
  color:#ffffff;
  transition: 0.5s;
  cursor: pointer;

}

.main__button_hidden{
  width: 220px;
  height: 55px;
  background-color: #000000;
  color: #bdae82;
  font-family: inherit;
  border:1px solid #bdae82; 
}

.main__button_hidden:hover{
  color:#ffffff;
  transition: 0.5s;
  cursor: pointer;
}



/* ****************************
******STYLES FOR H2 and line for it*
*************************** */

.section__title{
  text-align: center;
  font-size: 40px;
  margin-top: 0;
  position: absolute;
  padding: 0 20px;
  color:#bdae82;
  background-color:#000000;
}

.wrapper__h2{ 

  position: relative;
  display: flex;
  justify-content: center;

}

.wrapper__h2::before{
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  background-color: #bdae82;
  position: absolute;
  top: 1.1em;
}

/*  working version of line h2 before,after

/* .section__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Merriweather', serif;
  margin: 0 auto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  color: #bdae82;
  width: 50%;
}

.section__title::before, .section__title::after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background: #bdae82;
}
+ span in html, padding 0 20px backgrcol black


 */

/* old version of line h2 
 .wrapper{
  width: 50%;
  position: relative;
  margin: 0 auto;
}

.section__title{
  text-align: center;
  color: #bdae82;
  font-size: 40px;

}

.section__title::before{
  content:"";
  display: block;
height: 1px;
background-color: #BDAE82;
position: absolute;
top: 50%;
left: 1.5%;
width: 38%;
}

.section__title::after{
  content:"";
  display: block;
  height: 1px;
  background-color: #BDAE82;
  position: absolute;
  top: 50%;
  right: 1.5%;
  width: 38%;
} */ 


/* ****************88
******SKILSS*******
******************* */


.skills{
  padding-top: 118px;
  height: 482px;
}


.skills-items{
  padding-top: 122px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color:#ffffff;
}
.skills-items__item {
  display: block;
  text-align: center;
  background-position: center top;
  background-repeat: no-repeat;
  width: 320px;
  height: 240px;
  padding-top: 83px;

}

.skills-items__item p{
  margin: 0 auto;
  font-size: 18px;
  line-height: 36px;
  width: 280px;
  height: 72px; 
   
}

.skills-items__item h4{
  font-family:  Inter;
  
}

.skills-items__item:nth-child(1) {
  background-image: url('../assets/svg/camera.svg');
  background-size: 62px 50px;
}
.skills-items__item:nth-child(2) {
  background-image: url('../assets/svg/video.svg');
  background-size: 66px 50px;
}
.skills-items__item:nth-child(3) {
  background-image: url('../assets/svg/retouch.svg');
  background-size: 66px 50px;
}
.skills-items__item:nth-child(4) {
  background-image: url('../assets/svg/audio.svg');
  background-size: 32px 50px;
}

/* *******************
********PORTFOLIO********
************************** */

.portfolio{
  padding-top: 118px;
  height: 1500px;
}

.portfolio__buttons{
  display: flex;
  justify-content: center;
  padding-top: 122px;
  gap: 5px;

}

.portfolio-images{
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  width: 1400px;
  height: 1145px;
} 

/* *********************
*********VIDEO************
************************ */

.video{
  padding-top: 118px;
  height: 945px;

}

.video__player{
  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/img/video-player__bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width:100%;
  margin-top: 60px;
}

.video__button{
   position: absolute;
   display: block;
   background-image: url(../assets/img/video__button.svg);
   background-color: transparent;
   height: 130px;
   width: 130px;
   border:none;
  
  }
  
  .video__button:hover{
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
    transition: 0.5s;
    cursor: pointer;
    
  }

/* ***********************
***********PRICE**********
*********************** */

.price {
  padding-top: 116px;
  width: 1400px;
  height: 845px;
}



.price__items {
  padding-top: 125px;
  display: flex;
  justify-content: space-between;


  
}

.price__item{
  border: 2px solid #bdae82;
  width: 450px;
  height: 505px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.price__h3 {
  
  color: #ffffff;
  
  font-size: 28px;
  line-height: 56px;
  padding-top: 12px;

}

.price__h4 {
  
  font-size: 25px;
  color: #bdae82;
  margin: 0;
  padding-bottom: 31px;
}
.price__item span{
  
 
  display: block;
  color: #ffffff;
  font-size: 18px;
  line-height: 36px;
 
}

.price__button{
 margin-top: 9%;
}









